.categories div{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 30px;
    transition: 0.3s;
    cursor: pointer;
}
.categories div:hover{
    background-color: #f2f2f2;
}
.categories div:hover a{
    color: #333;
}
.onunderline{
    transition: all 10s;
    position: relative;
}
.onunderline::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(to bottom right, #72FFB6, #10D164);
    transition: 0.75s;
}
.onunderline:hover::before{
    width: 100%;   
}